html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 70px;
}
body > .container {
  padding: 70px 15px 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #cccccc;
  background-color: #303030;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Set the fixed height of the footer here */
  height: 62px;
  border-top: 1px solid #eee;
}
.container .text-muted {
  margin: 20px 0;
  color: #cccccc;
}
.footer > .container {
  padding-right: 75px;
  padding-left: 75px;
  text-align: left;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}


.flowTable {
  margin-bottom: 30px;
}
.block {
  top: auto;
  margin: 10px 3px;
  padding: 0;
  background-color: #f5f5f5;
  box-shadow: 0 1px 1px rgba(0,0,0,0.2);
}
.block .table {
  margin: 15px 0 0 0;
}
.block .extra .table {
  margin: 2px 0 15px 0;
}
.block .table td {
  border-top: none;
  text-align: left;
}
.panel .table td {
  border-top: none;
  text-align: left;
}
.block .caption {
    margin: 0 0 13px 0;
    border-radius: 4px;
    background-color: #ffffff;
    padding: 15px 15px 5px 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}
.block .operation {
  width: 100%;
  text-align: right;
  padding: 0 15px 0 0;
  margin: 10px 0;
}
.block .radio-group .btn {
  width: 64px;
}
.page-header {
  margin: 20px 10px 10px 10px;
}

#problemTable .index {
  margin: 0 10px 0 0;
}
#problemTable .description {
  font-size: 1.3em;
}

.timerRow {
  font-size: 1.3em;
  font-weight: bold;
}
.timer-item {
  font-size: 1.1em;
}
.yourChoose {
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: bold;
}
.judgeOk {
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #5cb85c;
}
.judgeWrong {
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #c9302c;
}
.scoreRow {
  font-size: 1.8em;
  font-weight: bold;
}
.yourScore {
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #c9302c;
}
.timeRow {
  font-size: 1.8em;
}
.endTime {
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #337ab7;
}

h1.username {
  margin-left: 15px;
}

h1.username .glyphicon {
  font-size: 0.9em;
  padding-top: 5px;
}

h1.username .toEditUser {
  padding: 10px 5px;
  font-size: 0.5em;
  color: #080808;
}

h1.username .toEditUser:hover {
  color: #337ab7;;
  text-decoration: none;
}

.strongRow {
  font-size: 1.5em;
}
.yourName {
  margin-left: 15px;
  font-size: 1.2em;
  font-weight: bold;
  color: #000000;
}

.infoBlock .badge {
  margin-left: 10px;
  font-size: 0.8em;
  background-color: #337ab7;
}